.pages{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.currentPage{
    font-weight: 700;
    font-size: 32px;
    width: 60px;
    height: 40px;
    resize: none;
    margin-right: 5px;
    text-align: center;
}
.lastPage{
    margin-left: 5px;
}