.wrapper{
    grid-area: h;
    background-color: #001529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.logo{
    margin: 20px;
}
.login{
    text-decoration: none;
    color: black;
    font-size: 32px;
    margin-right: 20px;
}
.logout{
    display: flex;
    align-items: center;
}
.loginName{
    color: black;
    font-size: 32px;
}
.login:hover {
    transition: 0.3s;
    color: rgb(12, 0, 179);
}
.active{
    text-decoration: none;
    color: rgb(12, 0, 179);
    font-size: 32px;
    margin-right: 20px;
}
.profileLink{
    text-decoration: none;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
  width: 100%;
  background-color: #f0f2f5;
}

.logoutImg {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logoutText {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.logoutButton {
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 15px;
  color: #001529;
  width: 50px;
  background-color: #f0f2f5;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

.logoutButton:hover {
  width: 125px;
}

.logoutButton:hover .logoutText{
  opacity: .9;
}
