.app__wrapper{
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas: "h h"
  "n c"
  "f f";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  padding-top: 10px;
}
.wrapper__content{
  grid-area: c;
  background-color: rgba(83, 228, 197, 0.596);
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 32px;
}